<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/style.css" />
  <title>Todo App</title>
  
  <script src="js/underscore.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/todo_app.js"></script>
  <script>
    jQuery(function() {
      Todo.init();
    });
  </script>
</head>
<body>
  <h1>Tarefas</h1>

  <div id="todo-app">
    <form id="new-task">
      <input type="text" name="name" />
    </form>
    
    <ul id="todo-list"></ul>
  </div>
  
  <!-- Templates -->
  <script type="text/template" id="task-item-template">
    <label <%%= (done) ? 'class="completed"' : '' %>>
      <input type="checkbox" <%%= (done) ? 'checked="checked"' : '' %> />
      <%%= name %>
    </label>
    <span class="destroy"></span>
  </script>
</body>
</html>