body {
  width: 600px;
  margin: 0 auto;
  font: 16px Palatino, serif;
}

#new-task {
  input[type="text"] {
    margin: 0;
    padding: 10px;
    border: 1px solid #555;
    width: 578px;
    font-size: 22px;
    font-family: inherit;
  }
}

#todo-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  
  li {
    line-height: 40px;
    font-size: 22px;
    
    .completed {
      color: #666;
      font-style: italic;
      text-decoration: line-through;
    }
    
    .destroy {
      display: none;
      float: right;
      height: 40px;
      width: 20px;
      background: url('../img/icon_remove.png') no-repeat center center;
      cursor: pointer;
    }
    
    &:hover .destroy { display: block; }
  }
  
}